{%- liquid
  assign highlight_item = section.settings.highlight_item | downcase | strip_html | escape
  assign link_title = link.title | strip_html | escape
  assign link_title_lowercase = link.title | downcase | strip_html | escape
  assign nav_secondary = nav_secondary | default: false
  assign parent = false
  assign grandparent = false
  if link.levels == 1
    assign parent = true
  endif
  if link.levels == 2
    assign grandparent = true
  endif

  assign child_count = 0
  assign image_count = 0
  if grandparent
    assign child_count = link.links.size
    if child_count > 10
      assign child_count = 10
    endif
  endif

  assign index = index | append: ""
  for block in section.blocks
    assign image_second_menu = block.settings.image_second_menu
    if block.settings.position == index and nav_secondary == image_second_menu
      assign grandparent = true
      assign image_count = image_count | plus: 1
    endif
  endfor

  if parent or grandparent
    assign expands = true
    assign key = link.url | append: link.title | append: link.levels | md5
  endif

  if parent and link.levels == 1
    assign child_count = child_count | plus: 1
  endif

  if image_count and child_count == 0
    assign images_only = " grandparent--all-images"
  endif

  capture classes
    echo 'menu__item'

    if grandparent
      echo ' grandparent kids-' | append: child_count

      if image_count > 0
        echo ' images-' | append: image_count
      else
        echo ' no-images'
      endif

      echo images_only
    elsif parent
      echo ' parent'
    else
      echo ' child'
    endif

    if link.active
      echo ' menu-item--active'
    endif
  endcapture

  assign link_hover_dot_class = ''
  if link_hover_dot
    assign link_hover_dot_class = ' navlink--dot'
  endif
-%}

<div class="{{ classes }}"
  data-nav-item
  {% if grandparent %}
    role="navigation"
  {% endif %}
  {% if expands %}
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    data-hover-disclosure-toggle="dropdown-{{ key }}"
    aria-controls="dropdown-{{ key }}"
  {% else %}
    data-hover-disclosure-toggle
  {% endif %}>
  {% comment %} Conditional to display Complementos, Marcas, Novedades and Outlet  {% endcomment %}
  {% if link_title == 'Complementos' %}
    {% if section.settings.show_accesories %}
      <a href="{{ link.url }}" data-top-link class="navlink navlink--toplevel{{ link_hover_dot_class }}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}">
        <span class="navtext">{{ link_title }}</span>
      </a>
    {% endif %}
  {% elsif link_title == 'Marcas' %}
    {% if section.settings.show_brands %}
      <a href="{{ link.url }}" data-top-link class="navlink navlink--toplevel{{ link_hover_dot_class }}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}">
        <span class="navtext">{{ link_title }}</span>
      </a>
    {% endif %}
  {% elsif link_title == 'Novedades' %}
    {% if section.settings.show_new-arrivals %}
      <a href="{{ link.url }}" data-top-link class="navlink navlink--toplevel{{ link_hover_dot_class }}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}">
        <span class="navtext">{{ link_title }}</span>
      </a>
    {% endif %}
  {% elsif link_title == 'Outlet' %}
    {% if section.settings.show_outlet %}
      <a href="{{ link.url }}" data-top-link class="navlink navlink--toplevel{{ link_hover_dot_class }}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}">
        <span class="navtext">{{ link_title }}</span>
      </a>
    {% endif %}
  {% else %}
    <a href="{{ link.url }}" data-top-link class="navlink navlink--toplevel{{ link_hover_dot_class }}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_toplevel %} caps{% endif %}">
      <span class="navtext">{{ link_title }}</span>
    </a>
  {% endif %}
  {%- assign section_title = link_title -%}
  {%- if expands -%}
    <div class="header__dropdown"
      data-hover-disclosure
      role="combobox"
      id="dropdown-{{ key }}">
      <div class="header__dropdown__wrapper">
        <div class="header__dropdown__inner">
          {%- if grandparent -%}
            {%- unless images_only -%}
              <div class="header__grandparent__links{% if settings.nav_caps_megamenu %} caps{% endif %}">
                {%- if link.levels == 2 -%}
                  {%- for link in link.links -%}
                    {%- capture link_image_markup -%}
                      {%- render 'header-link-image' with enable: section.settings.show_images, link: link, aspect_ratio: section.settings.image_aspect_ratio -%}
                    {%- endcapture -%}
                    <div class="dropdown__family">
                      {%- assign link_title = link.title | strip_html | escape -%}
                      {%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}



                      <a href="{{ link.url }}" class="navlink navlink--child-underupper{% if link_image_markup != blank %} navlink--image hover-scale{% endif %}{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}">
                        {{- link_image_markup -}}
                        <span class="navtext">{{ link_title }}</span>
                      </a>
                      {%- if link_title_lowercase == 'categorías' and section_title == 'Mujer' -%}
                        <div class="dropdown__family-custom">
                          {%- for link in link.links -%}
                            {%- assign link_title = link.title | strip_html | escape -%}
                            {%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}
                            <a href="{{ link.url }}" class="navlink navlink--grandchild{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if link_title_lowercase == 'ver todas' %} navlink--grandchild-special{% endif %}">
                              {%- case link_title_lowercase -%}
                                {%- when 'alpargatas' -%}
                                  {% render 'icon-alpargata-mujer' %}
                                {%- when 'zuecos' -%}
                                  {% render 'icon-zueco-mujer' %}
                                {%- when 'mocasines' -%}
                                  {% render 'icon-mocasin-mujer' %}
                                {%- when 'sandalias' -%}
                                  {% render 'icon-sandalia-mujer' %}
                                {%- when 'náuticos' -%}
                                  {% render 'icon-nautico-mujer' %}
                                {%- when 'sneakers' -%}
                                  {% render 'icon-sneaker-mujer' %}
                                {%- when 'zapatillas' -%}
                                  {% render 'icon-zapatilla-mujer' %}
                                {%- when 'salón' -%}
                                  {% render 'icon-salon-mujer' %}
                                {%- when 'bluchers' -%}
                                  {% render 'icon-bluchers-mujer' %}
                                {%- when 'botas' -%}
                                  {% render 'icon-botas-mujer' %}
                                {%- when 'botines' -%}
                                  {% render 'icon-botines-mujer' %}
                                {%- when 'chanclas' -%}
                                  {% render 'icon-chanclas-mujer' %}
                                {%- when 'merceditas' -%}
                                  {% render 'icon-merceditas-mujer' %}
                                {%- when 'outlet mujer' -%}
                                  <img src="{{ 'outlet-mujer.png' | asset_url }}" alt="Outlet Mujer" width="37" height="39">
                                {%- else -%}
                                  <!-- No icon available -->
                              {%- endcase -%}
                              <span class="navtext">{{ link_title }}</span>
                            </a>
                          {%- endfor -%}
                        </div>
                      
                      {% elsif link_title_lowercase == 'categorías' and section_title == 'Hombre' %}
                        <div class="dropdown__family-custom">
                          {%- for link in link.links -%}
                            {%- assign link_title = link.title | strip_html | escape -%}
                            {%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}
                            <a href="{{ link.url }}" class="navlink navlink--grandchild{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if link_title_lowercase == 'ver todas' %} navlink--grandchild-special{% endif %}">
                              {%- case link_title_lowercase -%}
                                {%- when 'alpargatas' -%}
                                  {% render 'icon-alpargata-hombre' %}
                                {%- when 'botas' -%}
                                  {% render 'icon-botas-hombre' %}
                                {%- when 'chancletas' -%}
                                  {% render 'icon-chancletas-hombre' %}
                                {%- when 'náuticos' -%}
                                  {% render 'icon-nauticos-hombre' %}
                                {%- when 'sneakers' -%}
                                  {% render 'icon-sneakers-hombre' %}
                                {%- when 'zapatos traje' -%}
                                  {% render 'icon-zapatos-traje-hombre' %}
                                {%- when 'bluchers' -%}
                                  {% render 'icon-bluchers-hombre' %}
                                {%- when 'botines' -%}
                                  {% render 'icon-botines-hombre' %}
                                {%- when 'mocasines' -%}
                                  {% render 'icon-mocasines-hombre' %}
                                {%- when 'sandalias' -%}
                                  {% render 'icon-sandalias-hombre' %}
                                {%- when 'zapatillas' -%}
                                  {% render 'icon-zapatillas-hombre' %}
                                {%- when 'zuecos' -%}
                                  {% render 'icon-zuecos-hombre' %}
                                {%- when 'outlet hombre' -%}
                                  <img src="{{ 'outlet-hombre.png' | asset_url }}" alt="Outlet Hombre" width="37" height="39">
                                {%- else -%}
                                  <!-- No icon available -->
                              {%- endcase -%}
                              <span class="navtext">{{ link_title }}</span>
                            </a>
                          {%- endfor -%}
                        </div>
  
                      {% else %}
                        {%- for link in link.links -%}
                          {%- assign link_title = link.title | strip_html | escape -%}
                          {%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}
                          <a href="{{ link.url }}" class="navlink navlink--grandchild{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if link_title_lowercase == 'ver todas' %} navlink--grandchild-special{% endif %}">
                            <span class="navtext">{{ link_title }}</span>
                          </a>
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  {%- endfor -%}
                {%- elsif link.levels == 1 -%}
                  <div class="dropdown__family">
                    {%- for link in link.links -%}
                      {%- assign link_title = link.title | strip_html | escape -%}
                      {%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}
                      <a href="{{ link.url }}" data-stagger class="navlink navlink--grandchild{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}">
                        <span class="navtext">{{ link_title }}</span>
                      </a>
                    {%- endfor %}
                  </div>
                {%- endif %}
              </div>
            {%- endunless -%}

            {%- for block in section.blocks -%}
              {%- assign image_second_menu = block.settings.image_second_menu -%}
              {% comment %} Render block content {% endcomment %}
              {%- if block.settings.position == index and nav_secondary == image_second_menu -%}
                {%- render 'header-block', block: block, child_count: child_count, image_count: image_count, index: index -%}
              {%- endif -%}
            {%- endfor -%}

          {%- else -%}
            {% comment %} Simple dropdown {% endcomment %}
            {%- for link in link.links -%}
              {%- assign link_title = link.title | strip_html | escape -%}
              {%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}
              {% comment %} Conditional to display Complementos links {% endcomment %}
              {% if link_title_lowercase == 'bolsos' %}
                {% if section.settings.show_bags %}
                  <a href="{{ link.url }}" data-stagger class="navlink navlink--child{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_megamenu %} caps{% endif %}">
                    <span class="navtext">{{ link_title }}</span>
                  </a>
                {% endif %}
              {%  elsif link_title_lowercase == 'calcetines' %}
                {% if section.settings.show_socks %}
                  <a href="{{ link.url }}" data-stagger class="navlink navlink--child{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_megamenu %} caps{% endif %}">
                    <span class="navtext">{{ link_title }}</span>
                  </a>
                {% endif %}
              {% elsif link_title_lowercase == 'carteras' %}
                {% if section.settings.show_wallets %}
                  <a href="{{ link.url }}" data-stagger class="navlink navlink--child{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_megamenu %} caps{% endif %}">
                    <span class="navtext">{{ link_title }}</span>
                  </a>
                {% endif %}
              {% elsif link_title_lowercase == 'productos de cuidado' %}
                {% if section.settings.show_care-products %}
                  <a href="{{ link.url }}" data-stagger class="navlink navlink--child{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_megamenu %} caps{% endif %}">
                    <span class="navtext">{{ link_title }}</span>
                  </a>
                {% endif %}
              {% else %}
                <a href="{{ link.url }}" data-stagger class="navlink navlink--child{% if link.active %} navlink--active{% endif %}{% if highlight_item == link_title_lowercase %} navlink--highlight{% endif %}{% if settings.nav_caps_megamenu %} caps{% endif %}">
                  <span class="navtext">{{ link_title }}</span>
                </a>
              {% endif %}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
